.Sidebar{
    display: grid;
    position: fixed;
    margin: auto;
    transform: translate(-8%,50%)
}

/* .SidebarMenu{
    position: fixed;
    left: 0;
    top: 0.5rem;
} */

/* .mainNav{
    display: flex;
    justify-content: center;
} */

.SidebarMenu{
    padding-top: auto;
}

.fas.fa-bars{
    font-size:10px;
}

.btn-dark{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-primary2{
    /* margin-top: 0.2px; */
    background-color: #ffc800;
}

.input-group2{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.navbar-container{
    margin-left: 0;
    margin-right: 0;
}

.navbar{
    justify-content: center;
    height: 75px;
}

.btn-more{
    margin-top: 6rem;
}

.img-resize{
    margin: auto;
    width: 100%;
    height: 312px;
}

.timeline-words h4{
    padding-top: 10px;
}

.MainContent{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    background-color: gray;
}

.masthead-subheading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
}

.cos_title{
    position: relative;
    padding-top: 30px;
    left: 30%;
}

.cos_item{
    position: relative;
    top: auto;
    left: 30%;
    padding-bottom: 20px;
}

.organ_img{
    position: relative;
    top: auto;
    left: 30%;
}

.about{
    position: relative;
    top: auto;
    left: 20%;
}

.news{
    margin-left: 80px;
    width:600px;
    height: 100px; 
}

.news.news_background_1{
    background-color: blue;
}

.news.news_background_2{
    background-color: cyan;
}

.news_content{
    margin-left: 40px;
    margin-bottom: 5px;
}

.news_title{
    cursor: pointer;
}

.news_href{
    margin-left: 85%;
}

.news_page{
    margin-left: 150px;
    margin-bottom: 5px;
}

.atag_color{
    color: #49cdf5;
}

#page-news{
    padding-left: 10%;
}

.Nextpage-section a{
    position: relative;
    left:80%;
    margin: 10px;
}